body{
    background-color: #9e9e9e26;
}
.main{
    margin: 30px;
    background-color: white;
    width:auto;

}

.btn-publish{
    float: right;
    margin-bottom: 30px;
}

.main-right{
    padding-top: 50px;
}

.mr-3{
    height: 80px;
    width: 80px;
}

.text-desc{
    font-size: 12px;
    font-weight: 999;
    color: #999;
}