<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoderZone</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="/css/coderzone.css">
    <script src="js/bootstrap.bundle.js" type="application/javascript"></script>
    <script src="js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">CoderZone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="people/topics" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div th:if="${session.user==null}" class="nav-item">
            <a class="nav-item "
               href="https://github.com/login/oauth/authorize?client_id=e8e7f530973f2ab0fcf3&redirect_uri=http://localhost:8886/callback&scope=user&state=1"
               tabindex="-1" aria-disabled="true">Log in</a>
        </div>
        <div th:unless="${session.user==null}" class="nav-item dropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/publish" class="nav-link">Publish</a>
                </li>
                <li class="nav-item">
                    <a th:text="${session.user.getName()}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Message</a>
                        <a class="dropdown-item" href="#">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            <h2 class="list">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list-ul" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
                Explore
            </h2>
            <hr>
            <ul class="list-unstyled">
                <li class="media" th:each="question:${pagination.questions}">
                    <img th:src="${question.user.avatarUrl}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" th:text="${question.title}">List-based media object</h5>
                        <span th:text="${question.description}"></span><br>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span> replies, <span
                                th:text="${question.viewCount}"></span> views, <span
                                th:text="${#dates.format(question.gmtCreate,'MM-dd-yyyy HH:mm')}"></span></span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:if="${pagination.showFirstPage}==true">
                        <a class="page-link" th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:if="${pagination.showPrevious}==true">
                        <a class="page-link" th:href="@{/(page=${pagination.page}-1)}"><</a>
                    </li>
                    <li class="page-item" th:each="page:${pagination.pages}" th:class="${pagination.page==page}?'active page-item':'disabled'">
                        <a class="page-link " th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li class="page-item" th:if="${pagination.showNext}==true">
                        <a class="page-link" th:href="@{/(page=${pagination.page}+1)}">></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${pagination.showEndPage}==true"
                           th:href="@{/(page=${pagination.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 main-right">
            <h3>Hot Topic</h3>
            <p>•Question Title: briefly describe your questions, less than 100 characters</p>
            <p>•Question Description: provide more detailed description for your questions</p>
            <p>•Tag Selection: select one or multiple tags, separated by comma, less than 6 words</p>
        </div>
    </div>
</div>

</body>
</html>